#header-nav {
    background-color: rgb(151, 193, 169);
    height: 135px;
    border-color: rgb(151, 193, 169);
    
}
body {
    background-color: rgb(183, 207, 183);
    height: 1000px;
    width: 1345px;
}
.about-us {
    margin-left: 1100px;
    margin-top: 50px;
    font-size: 22px;
    border-color: none;
    background-color: rgb(151, 193, 169);
    border: 0;
    padding-top: 25px 25px 25px 25px;
    width: 120px;
    white-space: nowrap;
}
