body {
  background-color: rgb(183, 207, 183);
  height: 1000px;
  width: 1345px;
}

/* Add a black background color to the top navigation */
.navbar {
  /* background-color: rgb(151, 193, 169); */
  background-color: rgb(216, 244, 0);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.navbar a {
  height: 100px;
  font-weight: bolder;
  float: right;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-top: 10px;
  margin-bottom: 10px;

}

.navbar-header {
  position: absolute;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: rgb(183, 207, 183);
  color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
  color: black
}

.navbar-brand {
  color: black;
  padding-top: 25px;
}

#logo-img {
  background: url('../images/moon ship.jpg') no-repeat;
  width: 100px;
  height: 50px;
  margin: 1px 1px 1px 0;
  margin-top: 10px;
  margin-bottom: 1px;
  margin-left: 0;
  padding: 0px;
}

.navbar-brand h1 {
  font-family: 'Lora', serif;
  color: black;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 4px;
  margin-bottom: 0;
  line-height: .75;
  margin-left: 0px;

}

#nav-list {
  margin-top: 10px;
}

#nav-list a {
  color: black;
  text-align: center;
}

#nav-list a:hover {
  background: rgb(183, 207, 183);
}

#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
  border: 1px solid black;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}


#home-icon {
  background-color: rgb(151, 193, 169);
  display: inline-block;
  position: relative;
  margin-left: 5px;
  margin-top: 70px;
  border: 0;
  color: white;

}

#home-icon span {
  margin-right: 7px;
  margin-left: 0px;
}

#home-icon:hover {
  opacity: 0.8;
}

#home-icon:active {
  opacity: 0.5;
}

/* home page*/
.home-img {
  box-shadow: 0 0 50px rgb(151, 193, 169);
  border: 2px solid rgb(183, 207, 183);
  margin-left: 64px;
  width: 1200px;
  max-width: 400px;
  position: relative;
}

.home-img .img {
  width: 100%;
  height: 400px;
}

.home-img a .btn {
  top: 40%;
  left: 235%;
  background-color: rgb(210, 203, 187);
  position: absolute;
  height: 90px;
  width: fit-content;
  padding: 23px 23px 23px 23px;
  text-align: center;
  border-radius: 15px;
  border-color: black;
  color: rgb(37, 100, 71);
  text-decoration: none;
  text-emphasis-color: black;
  font-size: large;
  font-weight: bold;
}

.btn:hover {
  opacity: 0.8;
}
/* footer*/
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: rgb(151, 193, 169);
  color: white;
  border-top: 0;
  font-size: 18px;
}

.panel-footer div.row {
  margin-bottom: 35px;
}

#footnotes,
#follow-us {
  line-height: 2;
}

#footnotes>span,
#follow-us>span {
  font-size: 1.3em;
}

#follow-us p {
  color: #557c3e;
  font-size: .8em;
  line-height: 1.8;
}

#contact-us {
  text-decoration: none;
  font-size: 1.3em;
  line-height: 2;
}

#contact-us p:nth-child(2) {
  margin-top: 25px;
}

/* END FOOTER */


/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  #logo-img {
    background: url('../images/frontimg.png') no-repeat;
    width: 100%;
    height: 100px;
    margin: 5px 5px 5px 0;
  }
  /* End Header */

  /* Home Page */
  .container .home-img {
    background: url('../images/frontimg_4_992x554.png') no-repeat;
    height: 554px;
  }
  /* End Home Page */
}
/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
  .container .home-img {
    background: url('../images/frontimg_5_768x432.png') no-repeat;
    height: 432px;
  }
  /* End Home Page */
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Website name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
    margin-left: 0px;
  }


  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
  /*end header*/
  /* Footer */
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0; /* margin already exists on the whole row */
  }
  .panel-footer section hr {
    width: 50%;
  }
  /* End Footer */
}
/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* name */
    padding-top: 5px;
    font-size: 6vw;

  }
  /* End Header */
  
  /* Home page 
  #menu-tile, #specials-tile {
    width: 280px;
    margin: 0 auto 15px;
  }
*/
  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}